
.second-page {
    height: auto;
    margin-bottom: 70px;
    background-color: var(--background-color);
   
}

#projects {
    text-align: center;
    font-family: cursive, sans-serif;
    font-size: 26px;
    padding: 4vh;
}

.projects-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.images {
    
    min-width: 350px;
    width: 32vw;
    height: 35vh;
    margin: 10px auto;
    border-radius: 10px;
    
}


.images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    border-radius: 10px;
}

.images img:hover{
    transition: all 350ms ease-in-out;
    transform: scale(105%);
    cursor: pointer;
    border: 2px solid brown;
}
.img1 img{
    object-fit: cover;
    object-position: center ;
}
.img4 img{
    object-fit: cover;
    object-position: center ;
}
.img5 img{
    background-color: lightcoral;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media only screen and (max-width:768px) {

    .projects-list {
        display: flex;
        flex-direction: column;
        gap: 20px 0px;
    }    
    
    .images {
        min-width: 300px;
        min-height: 150px;
        width: 70vw;
        height: 20vh;
        border: 1px solid gray;
        background-color: rgb(174, 174, 247);
        margin: 5px auto;
        border-radius: 10px;
        
    }
    #projects {
        
        padding: 2vh;
    }
    .second-page{
        margin-bottom: 0px;
    }


}