@media only screen and (max-width : 767px)
{
    #mobile.nav-container {
        height: 15vh;
        
        display: block;
        align-items: center;
    }
    
    #mobile.logo {
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        width: 100vw;
        height: 10vh;
        font-family: "Yuji Hentaigana Akebono",sans-serif;
        background-color: #00873E;
        color: rgb(82, 255, 82);
        font-weight: 700;
        font-size: 7vw;
    }
    #mobile.logo:hover{
        text-shadow: 0px 0px 2px #ffffff;
    }
    #mobile.design{
        display: none;
    }
    #mobile.nav {
        background-color: rgba(216, 216, 216, 0.295);
        margin-top: 0vh;
        margin-left: 0;
        position: sticky;
        top: 0;
        background-color: rgba(216, 216, 216, 0.295);
        margin-top: 0vh;
        margin-left: 0;
        z-index: 1000;
        
    }
    
    #mobile.nav ul {
        list-style-type: none;
        display: flex;
        gap: 5px 20px;
        justify-content: space-around;
        width: 100vw;
        
        
    }
    
    #mobile.nav ul li {
        font-family: "DM Sans",sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: normal;
        
    }
    #mobile.nav ul li a{
        color: #000;
        text-decoration: none;
    }
    #mobile.contact{
        display: none;
        padding: 10px 20px;
        font-family: "DM Sans",sans-serif;
        text-align: right;
        background-color: #00873E;
        border-radius: 8px;
        color: white;
        margin-left: 8vw;
        margin-right: 2vw;
    
    }
    #mobile.contact:hover{
        cursor: pointer;
        background-color: #01ac50;
    }
    
    #mobile.message{
        position: fixed;
        bottom: 0;
        right: 0;
        padding: 10px;
        cursor: pointer;
    }
    
}